<ion-header>
  <ion-toolbar color="tertiary">
        <ion-title style="text-align: center;">
    Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content padding='true' class="form-structor">
 <ion-grid class="folderCard">
  <ion-col class="md"><ion-card class="foldercardbox" style="background-color:#85ce6e;">
    First Name :<br><br> {{UserName}}
  </ion-card></ion-col>
  <ion-col><ion-card  class="foldercardbox" style="background-color: #8fa6ce;">
    LastName : <br><br> {{lastname}}
  </ion-card></ion-col>
  <ion-col><ion-card  class="foldercardbox" style="background-color: darksalmon;;">
    Email Id :<br><br> {{userEmail}}
  </ion-card></ion-col>
  <ion-col><ion-card (click)="LogOut()" class="foldercardbox" style="background-color: rgb(236, 104, 60);text-align: center;">
    logout
  </ion-card></ion-col>
</ion-grid>
  </ion-content> 